.text-center{
    text-align: center;
}

.color-blue{
    color: blue;
}

.background-blue{
    color: white;
    background-color: blue;
}

.background-black{
    color: white;
    background-color: black;
}

